body {text-align: center;font-size: 75px}
.GB {color: blue;}
.OR {color: red;}
.OY {color: yellow;}
.GB {color: blue;}
.LG {color: green;}
.ER {color: red;}
input {width: 600px; height: 20px; border-radius: 20px}